* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Inter, sans-serif;
    background-color: #FFF4E2;
}

.schoolHabitsList{
position: absolute;
width: 340px;
height: 700px;
left: 550px;
top: 272px;

background: #FFFFFF;
border-radius: 20px;
}

.schoolHabits{
/* Category Title */

position: absolute;
width: 340px;
height: 55px;
left: 550px;
top: 268px;
text-align: center;


background: #F69335;
border-radius: 20px 20px 0px 0px;

}

.schoolHabitsTitle{
    position: absolute;
    color: #FFF4E2;
    left: 677px;
    top: 280px;
}

.healthHabitsList{
    position: absolute;
    width: 340px;
    height: 700px;
    left: 120px;
    top: 272px;
    
    background: #FFFFFF;
    border-radius: 20px;
}

.healthHabits{
    /* Category Title */        
    position: absolute;
    width: 340px;
    height: 55px;
    left: 120px;
    top: 268px;
    text-align: center;
        
        
    background: #F69335;
    border-radius: 20px 20px 0px 0px;
        
}


.healthHabitsTitle{
    position: absolute;
    color: #FFF4E2;
    left: 247px;
    top: 280px;
}

.socialHabitsList{
    position: absolute;
    width: 340px;
    height: 700px;
    left: 980px;
    top: 272px;
    
    background: #FFFFFF;
    border-radius: 20px;
}

.socialHabits{
    /* Category Title */        
    position: absolute;
    width: 340px;
    height: 55px;
    left: 980px;
    top: 268px;
    text-align: center;
        
        
    background: #F69335;
    border-radius: 20px 20px 0px 0px;
        
}

.socialHabitsTitle{
    position: absolute;
    color: #FFF4E2;
    left: 1107px;
    top: 280px;
}

.createButton{
    /* Button */

    position: absolute;
    width: 210px;
    height: 65px;
    left: 120px;
    top: 155px;

    background: #4F62C2;
    border-radius: 20px;
    font-size: xx-large;
    color: #FFFFFF;
}