.options_title_container {
    margin-top: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
.options_title_container h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: rgba(79, 98, 194, 0.75);
    margin: 0;
    padding: 0;
}

.preset_option_container {
    width: 50%;
    height: 30vw;
    word-wrap: normal;
    /* border-right: 3px solid rgba(79, 98, 194); */
}
.preset_option_container:hover {
    transform: translateY(-6px);
    border-radius: 13px;
    cursor: pointer;
}

.custom_option_container {
    width: 50%;
    height: 30vw;
    word-wrap: normal;
    /* border-left: 3px solid rgba(79, 98, 194); */
}
.custom_option_container:hover {
    transform: translateY(-6px);
    border-radius: 13px;
    cursor: pointer;
}

.border {
    height: 30vw;
    border: 3px solid rgba(79, 98, 194);
}

#description {
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(79, 98, 194, 0.75);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .options_title_container  {
        margin-top: 35%;
        display: flex;
        flex-direction: column;
    }
    .preset_option_container {
        width: 80%;
        height: 50%;
        word-wrap: normal;
        border-right: none;
        border-bottom: 3px solid rgba(79, 98, 194);
    }
    .custom_option_container {
        width: 80%;
        height: 70%;
        word-wrap: normal;
        border-left: none;
        border-top: 3px solid rgba(79, 98, 194);
    }
}


