.preset_container {
    color: rgba(79, 98, 194);

    width: 100%;
    height: 100%;
}
.overall_list_container {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.top_page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    color: (79, 98, 194);
    width: 100%;
    height: 100%;
}
.top_page h1{
    padding: 0px;
    margin: 15px;
}
.sug_back_link {
    font-size: 38px;
    margin-left:6.5%;
    text-align: left;
    text-decoration: none;
    color: rgba(79, 98, 194);

    width: 8%;
}
.sug_back_link:hover{
    text-decoration: underline;
}

.list_container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0% 5%;
    margin-left: 10px;
    margin-right: 10px;
}

.category_wrapper {
    border-radius: 15px;;
    padding: 8px;
    margin: 10px;

    width: 250em;
    height: 30em;

    background-color: #ffc79997;

}

.category_wrapper h3{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 32px;
    background-color: rgba(79, 98, 194);
    font-weight:900;
    color:white;
    margin: 0px;
    height: 50px;
}
.category {
    height: 21.3em;
    overflow-y: auto;
}
.category ul{
    list-style:'->';
}
.category li {
    margin: 10px;
    padding: 8px;
    text-align: left;
    color: rgba(79, 98, 194);
    font-size: 24px;
    font-weight: 600;
}
.category li:hover {
    cursor: pointer;
    transform: translateX(20px);
    text-decoration:underline;
    text-decoration-style: dotted;
    padding: 17px;
}


@media screen and (max-width: 600px) {
    .overall_list_container{
        margin-top: 23%;
    }
    .list_container {
        margin-top: 10%;
        padding: 0% 10%;
        flex-direction: column;
    }
    .category_wrapper {
        width: 100%;
        height: 100%;
    }

    .sug_back_link {
        width: 30%;
    }
}