nav {
    /* Navbar */

position: fixed;
width: 2000px;
height: 100px;
left: 0px;
top: 0px;

background: #F69335;

}

.nav--title{
    /* Atomic */

position: fixed;
width: 165px;
height: 59px;
left: 200px;
top: -25px;

font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #FFF4E2;


}
.nav--logo{
    position: fixed;
    height: 68px;
    top: 15px;
    left: 120px;
}
.nav--subtitle{
    /* Habits for life */

position: fixed;
width: 200px;
height: 28px;
left: 170px;
top: 35px;

font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
align-items: center;
text-align: center;

color: #FFF4E2;
}

.nav--stats{
    /* Statistics */

position: fixed;
width: 177px;
height: 66px;
right: 370px;
top: 20px;

font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

padding: 0;
border: none;
background: none

;color: #FFF4E2;


}

.nav--info{
    /* Information */

position: fixed;
width: 177px;
height: 66px;
right: 195px;
top: 20px;

font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

padding: 0;
border: none;
background: none;

color: #FFF4E2;

}

.nav--settings{
    /* Settings Icon */

position: fixed;
width: 46px;
height: 46px;
right: 120px;
top: 25px;

}

.nav--homeButton{
    padding: 0;
    border: none;
    background: none
}

.nav--settingsButton{
    padding: 0;
    border: none;
    background: none
}