@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  text-align: center; /* Wren: can we please not use this here :) */
}

body {
  font-family: 'Inter', sans-serif;
  color: rgba(79, 98, 194, 0.75);
  margin: 0px;
  background-color: #FFF4E2;

  min-height: 100vh; /* Make sure elements extend to bottom of page */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
}
