@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  text-align: center; /* Wren: can we please not use this here :) */
}

body {
  font-family: 'Inter', sans-serif;
  color: rgba(79, 98, 194, 0.75);
  margin: 0px;
  background-color: #FFF4E2;

  min-height: 100vh; /* Make sure elements extend to bottom of page */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  box-sizing: border-box;
}

nav {
  /* Navbar */

position: fixed;
width: 2000px;
height: 100px;
left: 0px;
top: 0px;
z-index: 1;

background: #F69335;

}

.nav--homeButton:hover {
  cursor: pointer;
}

.nav--title{
  /* Atomic */

position: fixed;
width: 165px;
height: 59px;
left: 200px;
top: -25px;

font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #FFF4E2;


}
.nav--logo{
  position: fixed;
  height: 68px;
  top: 15px;
  left: 120px;
}
.nav--subtitle{
  /* Habits for life */

position: fixed;
width: 200px;
height: 28px;
left: 170px;
top: 35px;

font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
align-items: center;
text-align: center;

color: #FFF4E2;
}

.nav--stats{
  /* Statistics */

position: fixed;
width: 177px;
height: 66px;
right: 370px;
top: 20px;

font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

padding: 0;
border: none;
background: none

;color: #FFF4E2;


}

.nav--info{
  /* Information */

position: fixed;
width: 177px;
height: 66px;
right: 195px;
top: 20px;

font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

padding: 0;
border: none;
background: none;

color: #FFF4E2;

}

.nav--settings{
  /* Settings Icon */

  position: fixed;
  width: 46px;
  height: 46px;
  right: 120px;
  top: 25px;

}

.nav--homeButton{
  padding: 0;
  border: none;
  background: none
}

.nav--settingsButton{
  padding: 0;
  border: none;
  background: none
}

#nav_username_label {
  font-size: 40px;
  color: white;
  font-weight: 700;
}